@{
    ViewData["Title"] = "Test";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <marquee scrollamount="16" direction="right" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="left" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="right" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="left" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="right" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="left" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="right" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="left" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="right" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="left" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="right" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="left" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="right" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
    <marquee scrollamount="16" direction="left" bgColor="#8FD" style="font-size: 32px">Bajo Jajo</marquee>
</div>
<script src="~/js/Home/Home.js"></script>